/***** BASE STYLES *****/
body {
font-family: 'PT+Sans', sans-serif;
color: #000000;
background-color: #ffffff;
}

/***** GRID *****/
.full-width {
    width: 1200px;
    margin: 0 auto;
    overflow: auto;
}
.half-width {
  width: 600px;
  float: left;
}
.third-width {
  width: 400px;
  float: left;
}

/***** header *****/
header {
    background-color: #ebebeb;
    overflow: auto;
    height: 500px;
    padding-top: 35px;
}

header img {
height: 450px;
    margin-top: -70px;
    margin-bottom: -80px;
    margin-left: -50px;
}
nav {
    float: right;
    padding: 75px 25px;
}
nav ul li {
    display: inline-block;
}
nav ul li a {
    color: #2b2b2b;
    font-family: 'Outfit', serif;
    font-size: 20px;
    text-transform: uppercase;
    padding-left: 70px;
}
header h2 {
    clear: both;
    color: #ddb423;
    font-family: 'Yellowtail', cursive;
    font-size: 70px;
    line-height: 100px;
    padding: 20px 0px 5px 25px;
    width: 1200px;
    overflow: auto;
    text-align: center;
}

/***** ABOUT *****/
#about .full-width {
    font-family: 'PT+Sans', sans-serif;
    background-color: #ffffff;
    margin-bottom: 30px;
    padding: 30px 0;
}
#about h2 {
    font-family: 'PT+Sans', sans-serif;
    color: #525f66;
    font-size: 40px;
    padding-left: 50px;
    margin-bottom: -5px;
}
#about p {
    color: #000000;
    font-family: 'PT+Sans', serif;
    font-size: 21px;
    line-height: 40px;
    margin-bottom: 30px;
    padding-left: 50px;
    padding-right: 50px;
}

/***** WORK *****/
#work {
  background-color: #ddb423;
}
#work .full-width {
    padding: 30px 0;
}
#work h3 {
  font-family: 'PT+Sans', sans-serif;
  color: #525f66;
  font-size: 40px;
  padding-left: 50px;
  margin-bottom: -5px;
}
#work .third-width {
  padding: 30px 0;
}
#work p {
    color: #000000;
    font-family: 'Outfit', serif;
    font-size: 18px;
    line-height: 30px;
    padding: 0 50px;
    text-align: center;
}

/**** contact ****/
#contact {
    background-color: #525f66;
}
#contact .full-width {
    padding: 80px 0;
}
#contact div img {
    height: 400px;
    margin-top: -50px;
    margin-left: 25px;
    border-radius: 15px;
}
#contact h2, #contact #email-header, #contact #socialmedia-header, #contact ul {
    padding-left: 115px;
}

#contact h2 {
    color:#ebebeb;
    font-size: 40px;
}
#contact #email-header {
    color: #000000;
    font-family: 'Outfit', serif;
    font-size: 28px;
    font-weight: 400;
    line-height: 44px;
    margin: -30px 0 5px 0;
}
#contact #socialmedia-header {
    color: #000000;
    font-family: 'Outfit', serif;
    font-weight: lighter;
    font-size: 34px;
    line-height: 44px;
    margin: 40px 0 0 0;
}
#contact a {
    color: #000000;
    font-family: 'Outfit', serif;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
}
#contact ul {
    list-style: none;
}
#contact ul li {
     display: inline-block;
}
#contact ul img {
    padding-right: 48px;
}
